html,
body {
  height: 100%;
  box-sizing: border-box;
  background-color: whitesmoke;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
  background: linear-gradient(
    70deg,
    rgba(15, 14, 19, 1),
    30%,
    rgba(24, 23, 52, 1)
  );
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
  color: white;
}
